
import org.springframework.http.MediaType
import spock.lang.Specification

import static org.springframework.test.web.servlet.request.MockMvcRequestBuilders.*
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.*

class ${className}Spec extends Specification {
<% scenarios.each { %>
	def "${it.description}" () {
		given: "${it.given}"
			// TODO - Add code to setup
		when: "${it.when}"
			// TODO - Add code to perform action.
		then: "${it.then}"
			// TODO - Add code to assert.
		<% if (it.and) out.print 'and: ' it.and %>
		where: "Setup the data here"
	}
	<% } %>
}
